<body>

<div style="margin-left: 10px; margin-right: 10px;" class="container ">
  <h2 style="font-family: monospace;transform: scale(1.5);">Edit your profile</h2>
  <form style="width: 100%; margin-left: 10px;display: flex;flex-direction: row;width: 100%;margin-top: -80px;" class="form">
    <!-- file -->
    <div style="width: 100%;margin-top: 85px;margin-left: -120px;" >
            <img src="{{ imageUrl || Data_User[0].Avatar }}" alt="your Image" style="width: 250px;height: 250px; margin-left: 35%;border-radius: 20px; object-fit: cover;" >
    </div> 
    <!-- เนื้อหาฝั่งขวา: ฟอร์ม -->
    <div style="width: 100%;">
  
      <label for="Username" class="label">Username</label>
      <input type="text" value="{{Data_User[0].UserName}}" placeholder="{{Data_User[0].UserName}}" id="UserName" name="UserName" required="Please enter information" class="input" [(ngModel)]="UserName">
      <label for="Name" class="label">Name</label>
      <input type="text" value="{{Data_User[0].Name}}" placeholder="{{Data_User[0].Name}}" id="Name" name="Name" required="Please enter information" class="input" [(ngModel)]="Name">
      <label for="Email" class="label">Email</label>
      <input type="Email" value="{{Data_User[0].Email}}" placeholder="{{Data_User[0].Email}}" id="Email" name="Email" required="Please enter information" class="input" [(ngModel)]="Email">
      <label for="Avatar" class="label">Choose Image </label><br><br>
      <label for="file" class="button upload-btn">Choose File here !!
       
        <input type="file" id="Avatar"  name="Avatar" accept="image/*" [(ngModel)]="Avatar" (change)="FileSelected($event)">
      </label>
      <!-- คำเตือน -->
      <h1 style="color: red; margin-right: 155%;margin-bottom: -2%;">*</h1>
      <label for="Password" class="label"  >ConfirmPassword</label>
      <input type="Password" id="Password" name="Password" required="Please enter information" class="input" [(ngModel)]="Password">
      <!-- ปุ่ม -->
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <div>
          <button mat-raised-button color="warn" (click)="back()">Cancel</button>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="frofile(Data_User[0].User_Id)">Save</button>
        </div>
      </div>
      
    </div>
  </form>
</div>

</body>