<body>
  <mat-toolbar style="background-color: rgb(45, 147, 231); display: flex; justify-content: space-between; align-items: center;">
      <div class="header" style="display: flex; align-items: center;">
          <img src="/assets/photo/mine2.png" style="margin-right: 10px; width: 50px; height: 50px;">
          <h1 class="title" style="color: aliceblue;">Battle Craft</h1>
      </div>
    <div style="display: flex; align-items: center;">
      <h1 style="font-size: 32px; font-weight: bold; color: black; margin-right: 600px;">Settings</h1>
      <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; margin-right: 10px; background-color: aliceblue;">
        <img src="/assets/photo/mine4.png" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
      </div>
    </div>
  </mat-toolbar>

  <div class="login-container">
      <div style="display: flex; align-items: center;">
      <mat-icon class="edit-icon" style="margin-left: -20%;">edit_square</mat-icon>
      <h2 >Edit your profile</h2>
      </div>

      <div style="display: flex; align-items: center; margin-right: 420%;margin-top: 15%;">
          <label for="profilePhoto">Photo:</label>
          <input type="file" id="profilePhoto" accept="image/*" style="display: none;">
          <!-- <button mat-raised-button color="primary" (click)="openFileDialog()">Choose Photo</button> -->
      </div>

          <div style="position: relative;">
          <mat-icon class="material-icons" style="position: absolute; top: 50%; transform: translateY(-50%); margin-left: 1%; ">person</mat-icon>
          <input matInput type="text" placeholder="Username" style="padding-left: 30px;  margin-top: 10px;">
          </div>
      
  
      <div style="position: relative;">
          <mat-icon class="material-icons" style="position: absolute; top: 50%; transform: translateY(-50%); margin-left: 1%;">person</mat-icon>
          <input matInput type="text" placeholder="First-last name:" style="padding-left: 30px;  margin-top: 10px;">
      </div>
  
      <div style="position: relative;">
          <mat-icon class="material-icons" style="position: absolute; top: 50%; transform: translateY(-50%); margin-left: 1%;">mail</mat-icon>
          <input matInput type="text" placeholder="Email:" style="padding-left: 30px;  margin-top: 10px;">
      </div>
      <br>
      <h1 style="color: red; margin-right: 155%;">*</h1>
      <div style="position: relative; margin-top: -6%;">
          <mat-icon class="material-icons" style="position: absolute; top: 50%; transform: translateY(-50%); margin-left: 1%;">key</mat-icon>
          <input matInput type="text" placeholder="ConfirmPassword:" style="padding-left: 30px; margin-top: 10px;">
      </div>
</div>
  <div class="example-button-row" style="margin-left: 80%;margin-top: 5%;">
      <button mat-raised-button style="margin-right: 10%;" >Cancel</button>
      <button mat-raised-button>Save</button>
  </div>

</body>