<body>
  <div class="header" style="display: flex; align-items: center;">
      <img src="/assets/photo/mine2.png" style="margin-right: 10px; width: 80px;">
      <h1 class="title">Battle Craft</h1>
    </div>
  
    <mat-card class="transparent-card">
      <div style="position: relative; display: flex; align-items: center;">
        <img src="/assets/photo/mine5.png" style="margin-right: 10px; width: 20%;">
        <mat-icon class="edit-icon" style="color: red;">delete</mat-icon>
        <input matInput type="text" placeholder="ชื่อภาพ:" style="padding-left: 30px; margin-left: 5px; margin-top: 10px;">
        <mat-icon class="material-icons">edit</mat-icon>
      </div>
    
      <div style="position: relative; display: flex; align-items: center;">
        <mat-icon class="material-icons" style="position: absolute; top: 50%; transform: translateY(-50%); left: 15px;">image</mat-icon>
        <input matInput type="text" placeholder=":" style="padding-left: 30px; margin-left: 5px; margin-top: 10px;">
        <mat-icon class="material-icons">edit</mat-icon>
      </div>
    </mat-card>
    
    
</body>
