<style>
      /* input anme photo */
  .input-container {
    --c-text: rgb(50, 50, 80);
    --c-bg: rgb(252, 252, 252);
    --c-outline: rgb(55, 45 , 190);
    display: grid;
    gap: 1ch;
    position: relative;
    max-width:80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  }
  
  .input-field {
    padding: 0.5em 0.75em;
    border-radius: 0.2em;
    border: 1px solid var(--c-border, currentColor);
    color: var(--c-text);
    font-size: 1rem;
    letter-spacing: 0.1ch;
    width: 100%;
  }
  
  .input-field:not(:placeholder-shown) + .input-label {
    transform: translateY(-220%);
    opacity: 1;
  }
  
  .input-field:invalid {
    --c-border: rgb(230, 85, 60);
    --c-text: rgb(230, 85, 60);
    --c-outline: rgb(230, 85, 60);
  }
  
  .input-field:is(:disabled, :read-only) {
    --c-border: rgb(150, 150, 150);
    --c-text: rgb(170, 170, 170);
  }
  
  .input-field:is(:focus, :focus-visible) {
    outline: 2px solid var(--c-outline);
    outline-offset: 2px;
  }
  
  .input-label {
    --timing: 200ms ease-in;
    position: absolute;
    left: 0;
    top: 50%;
    transition: transform var(--timing),
      opacity var(--timing);
    transform: translateY(-50%);
    opacity: 0;
    color: var(--c-text);
    font-weight: 500;
  }
</style>
<div *ngIf="isLoading; else content" style="position: absolute;top: 80%;left: 48%;transform: translate(-50%,-50%);">
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>


<ng-template #content>
<div *ngIf="constants" >
    <h3>{{constants.length}} / 5 </h3>
    <div style="display: flex; flex-wrap: wrap; ">
    <div *ngFor="let image of constants" >
            
            <div style="width: 20%; margin-top: 3%;padding: 5px;">
                <img class="zoom" src="{{image.Photo}}" alt="error"  style=" width: 238px;height: 238px; padding: 5px; border: 1px solid black; box-sizing: border-box; background-color: rgb(255, 255, 255); object-fit: cover;" (click)="EditPhoto(image.ImageID)">
            </div>
            <div style="display: flex; align-items: center; justify-content: center;">
                <h3 style="text-align: center; margin-right: 10px;">{{image.Name_photo}}</h3>
                <button class="delete-button" (click)="delete(image.ImageID)">
                    <svg class="delete-svgIcon" viewBox="0 0 448 512">
                        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                    </svg>
                </button>
            </div>            

    </div>
    </div>

    <!-- Modal -->
        <div *ngIf="isModelOpen" class="cont">
         <div *ngIf="Data_image" style=" position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);" >
            <form class="modal">
                <span class="close" (click)="closeModel()">X</span>
                    <div class="content">
                      <span class="title">Edit your image</span>
                      <p class="message">Select a file to upload from your computer or device.</p>
                      <!-- <input type="hidden" id="" name="User_Id" [(ngModel)]="data.User_Id"> -->
                      <!-- input name -->
                        <p class="input-container"  style="display: flex; align-items: center;">  
                                <label for="text" style="margin-right: 2px;width: 50%;">Name photo :</label>
                                <input type="text" placeholder="{{Data_image[0].Name_photo}}" name="text" id="Name_photo" name="Name_photo" [(ngModel)]="Name_photo" class="input-field" autocomplete="name" >
                            
                         </p>

                        <!-- <img src="{{Data_image[0].Photo}}" alt="your Image" style="width: 50%; margin-left: 25%;" > -->
                        <img src="{{ imageUrl || Data_image[0].Photo }}" alt="your Image" style="width: 50%; margin-left: 25%;border-radius: 20px;" >
                      <div class="actions">
                        <label for="file" class="button upload-btn">Choose File here !!
                          <!-- <input hidden="" type="file" id="file" id="Photo"  name="Photo" accept="image/*" [(ngModel)]="Photo"> -->
                          <input type="file" id="Photo"  name="Photo" accept="image/*" [(ngModel)]="Photo" (change)="FileSelected($event)">
                        </label>
                      </div>
                      <div class="result">
                        <button mat-stroked-button color="primary" style="margin-left: 40%;"  type="button" (click)="Edit(Data_image[0].ImageID)">Save</button>
                      </div>
                </div>
              </form>
        </div>
    </div>

</div>

</ng-template>
  
  
  