<body>
  <h1 >Statistics</h1>
  <div style="display: flex; align-items: center; padding: 10px;">
    <button class="button" (click)="back()" style="margin-left: 15px;">
      <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024">
        <path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path>
      </svg>
      <span>Back</span>
    </button>
  </div>
  

  <div *ngFor="let item of Data; let i = index" >
    <div style="display: flex; flex-direction: row; width: 90%; margin-left: 50px; margin-bottom: 50px;">
      <div >
        <img [src]="item.Photo" alt="image error" class="image" style="width: 200px; height: 200px; object-fit: cover; padding: 20px;">
        <p> Image Name : {{item.Name_photo}}  </p>

        <div>
          <p> Score : {{Rdif[i].V_Score}} </p>
          <p> Rank : {{Rdif[i].rank_current}}
              <span *ngIf="Rdif[i].diff > 0" style="color: green;  font-weight: bolder;">  &nbsp; + {{ Rdif[i].diff }} &uarr;</span>
              <span *ngIf="Rdif[i].diff < 0" style="color: red;  font-weight: bolder;"> &nbsp;{{  Rdif[i].diff }} &darr;</span>
              <span *ngIf="Rdif[i].diff == 0" style="color: black; font-weight: bolder;">&nbsp;  = </span>
          </p>
      </div>

      </div>
      
      <div class="simple-bar-chart horizontal" style="width: 90%;">
        <div *ngFor="let vote of item.Votes" class="item" [style.--clr]="getRandomColor()" [style.--val]="vote.V_Score">
          
          <div class="label">{{ vote.Date_vote | date: 'yyyy-MM-dd' }}</div>
          <p style=" margin-left: 45%;" >{{ vote.V_Score }}</p>
          <div class="value" [style.width.%]="vote.V_Score" ></div>
        
        </div>
      </div>
    </div>

    </div>
</body>



  <!-- <div class="item" style="--clr: #FCB72A; --val: 50">
    <div class="label">tue</div>
    <div class="value">50%</div>
  </div>
  
  <div class="item" style="--clr: #F8821A; --val: 100">
    <div class="label">wen</div>
    <div class="value">100%</div>
  </div>
  
  <div class="item" style="--clr: #E0393E; --val: 15">
    <div class="label">thu</div>
    <div class="value">15%</div>
  </div>
  
  <div class="item" style="--clr: #963D97; --val: 1">
    <div class="label">fri</div>
    <div class="value">1%</div>
  </div>
  
  <div class="item" style="--clr: #069CDB; --val: 90">
    <div class="label">sat</div>
    <div class="value">90%</div>
  </div>
  
    <div class="item" style="--clr: #963D97; --val: 1">
    <div class="label">sun</div>
    <div class="value">1%</div>
  </div> -->
  