<body>
    <button (click)="goback()" mat-button style="display: flex; align-items: center; margin-left: 2%; margin-top: 1%;">
        <mat-icon class="material-symbols-outlined" style="color: aliceblue; transform: scale(1.5); font-size: 110%;">arrow_back_ios</mat-icon>
        <h1 style="color: aliceblue;  margin-top: 20%;">Back</h1>
    </button>
    
    <mat-card class="custom-card">
        <div class="login-container">
            <h1 style="margin-left: 70%;">Membership</h1>
            <form (ngSubmit)="register()" [formGroup]="fromreister">
                <div style="position: relative;">
                  <mat-icon class="material-icons" style="position: absolute; top: 50%; transform: translateY(-50%); margin-left: 5%;">mail</mat-icon>
                  <input matInput type="text" placeholder="Email:" style="padding-left: 40px;  margin-top: 10px;" id="Email" formControlName="Email">
                </div>
                <div style="position: relative;">
                  <mat-icon class="material-icons" style="position: absolute; top: 50%; transform: translateY(-50%); margin-left: 5%;">key</mat-icon>
                  <input matInput type="text" placeholder="Password:" style="padding-left: 40px; margin-top: 10px;" id="Password" formControlName="Password">
                </div>
                <div style="position: relative;">
                  <mat-icon class="material-icons" style="position: absolute; top: 50%; transform: translateY(-50%); margin-left: 5%;">person</mat-icon>
                  <input matInput type="text" placeholder="Username:" style="padding-left: 40px;  margin-top: 10px;" id="UserName" formControlName="UserName">
                </div> 
                <div style="position: relative;">
                  <mat-icon class="material-icons" style="position: absolute; top: 50%; transform: translateY(-50%); margin-left: 5%;">person</mat-icon>
                  <input matInput type="text" placeholder="Name:" style="padding-left: 40px; margin-top: 10px;" id="Name" formControlName="Name">
                </div>
                <br>
                <button mat-raised-button type="submit" style="margin-left: 70%; width: 100%;" >Sign up</button>
              </form>
              
        </div>
    </mat-card>
    
</body>