
<html >
<head>
    
   
</head>
<body >
    <app-header-myprofile style="position: absolute; width: 100%;z-index: -1;"></app-header-myprofile>
<div style="margin-left: 8%;margin-right: 8%;">
    <div class="row">
        <div style="width: 100%; margin-top: 40px;">
            <div style="display: flex;flex-direction: row;width: 100%;">
                <div style="width: 95%;">
                    <button mat-stroked-button  (click)="goback()"> <mat-icon class="material-symbols-outlined" style="transform: scale(1.5);">
                        arrow_back_ios
                        </mat-icon> 
                        Back
                    </button>
                </div>
                <div style="width: 10%;">
                    <button mat-stroked-button (click)="logout()" >
                        Log out
                    </button>
                 </div>
            </div>
        </div>
        <div style="width:50% ; margin-top: 12%;" *ngIf="data">
            <div style="display: flex; flex-direction: row;">    
                <!-- <img src="/assets/photo/pig.jpg" style="border-radius: 100%;width: 25%;"> -->
                <img src="{{data.Avatar}}" style="border-radius: 100%;width: 25%;">
                <div  style="display: flex; flex-direction: column;margin-left: 10%;color: white;">
                    
                    <div style="display: flex; align-items: center;">
                        <h2 style="margin-right: 10px;">{{ data.Name }}</h2>

                        <button mat-raised-button style="margin-left:20px ; background-color: rgba(255, 196, 0, 0.68);transform: scale(0.8);" (click)="edit(data.User_Id)">
                            <mat-icon class="material-symbols-outlined" style="text-align: center; transform: scale(1.3);">edit</mat-icon>  Setting
                        </button>
                      </div>
                      
                    <h4 style="margin-top: -5%;"> User name : {{data.UserName}}</h4>
                </div>   
            </div>
        </div>  
        <div *ngIf="data">
        <div style="display: flex; flex-direction: row; width: 100%; margin-top: 20px; ">
         
            <button mat-button style="transform: scale(1.3);" routerLink="/myprofile/post">Post</button>
            <div *ngIf="photo && photo.length < 5" style="width: 100%;">
            <button mat-button style="transform: scale(1.3); margin-left: 13%;" (click)="uploadPhoto(data.User_Id)">Upload Photo</button>
            </div>
            <button mat-button style="transform: scale(1.3); margin-left: 13%;" (click)="post()">Statistics</button>
       
        </div>
    </div>
</div>
    <hr>
    <div style="display: flex;flex-direction: row; width: 100%;" >
    <router-outlet></router-outlet>
    </div>
</div>
</body>
</html>
