
<html >
<head>
</head>
<body >
    
    <mat-toolbar style="height: 10%; background-color: rgba(255, 255, 255, 0.5);">

        <div  style="display: flex; justify-content: space-between; align-items: center; width: 100%; ">
          <div style="display: flex; align-items: center;margin-top: -20px;">
            <img src="/assets/photo/minecraft-wisp-512x512.png" style="width: 8%; margin-left: 50px; margin-top: 20px;">
            <h5 style="margin-top: 3%;margin-right:20px ;">Battle Craft</h5>
          </div>
      
          <div style="display: flex; align-items: center;">
            <button mat-raised-button style="margin-right: 20px;">Home</button>
            <button mat-button style="margin-right: 20px;">Rank</button>

            <div *ngIf="data ; else kkkk" style="margin-left: 20px;">
              <!-- <button mat-button style="margin-right: 20px;" (click)="uploadPhoto(data.User_Id)">Upload</button> -->
            <button mat-button style="margin-right: 20px;" (click)="Statistics(data.User_Id)">statistics</button>
              <button mat-button (click)="logout()" >Log out</button>
            </div>
            <ng-template #kkkk style="margin-left: 20%;">
               
              <button mat-button routerLink="/login">Log in</button>
              <button mat-button style="border-radius: 50px;">
                <img src="/assets/photo/UserImage.png" style="width: 40px;height: 40px; border-radius: 50px; margin-top: 8px; object-fit: cover;" >
              </button>
           
            </ng-template>
          </div>
      
          <div *ngIf="data" style="margin-right:50px ;">
            <div style="display: flex; align-items: center;">
            <h3>{{ data.Name }}</h3>
            <button mat-button style="border-radius: 50px; ">
              <img src="{{data.Avatar}}" style="width: 50px;height: 50px; border-radius: 50px; margin-top: 8px; object-fit: cover;" (click)="profile()">
            </button>
        </div>
          </div>
        </div>
        
      </mat-toolbar>
    <div > 


      
   
    <div style="text-align: center; margin-left: 8%; margin-right: 8%;">
        <h2 style="font-family: monospace;font-size: 40px;">Welcome</h2>
        <h3 style="margin-bottom: 20px; font-family: monospace;font-size: 25px;">You can vote for your favorite Minecraft characters here. 📌</h3>


        <div *ngIf="isLoading; else content" style="margin-top: 10%;">
          <!-- แสดง Loading Spinner หรือข้อความ Loading ตามต้องการ -->
          <div class="container">
            <div class="tree">
              <div class="branch" style="--x:0">
                <span style="--i:0;"></span>
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
              </div>
              <div class="branch" style="--x:1">
                <span style="--i:0;"></span>
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
              </div>
              <div class="branch" style="--x:2">
                <span style="--i:0;"></span>
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
              </div>
              <div class="branch" style="--x:3">
                <span style="--i:0;"></span>
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
              </div>
              <div class="stem">
                <span style="--i:0;"></span>
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
              </div>
              <span class="shadow"></span>
            </div>
          </div>
        </div>


        <ng-template #content>
        <div *ngIf="randomPhoto" >
          <div style="background-color: rgba(255, 255, 255, 0.5); padding: 20px;width: 80%; margin: 0 auto;">

            <label class="switch">
              <input type="checkbox" class="toggle" [(ngModel)]="isSwitch" >
              <span class="slider"></span>
              <span class="card-side"></span>
            </label>
                    
            

            <div style="display: flex; flex-direction: row; width: 100%; margin-top: 30px;margin-bottom: 20px;">
                
                <div style="width: 50%; margin-top: 20px; " > 
                    <img class="zoom" src="{{randomPhoto.photo1.Photo}}"  style="width: 210px;height: 210px; object-fit: cover; padding: 10px; background-color: rgba(0, 0, 0, 0.381); " (click)="Vote(randomPhoto.photo1.ImageID)">
                    <h2> {{randomPhoto.photo1.Name_photo}}</h2>
                  </div>
        
                <a style="margin-top: 10px;">
                    <img  src="/assets/photo/vs-removebg-preview.png" alt="Image VS" width="100%"  (click)="randomimage()">
                </a>
        
                <div style="width: 50%; margin-top: 20px; "> 
                    <img class="zoom" src="{{randomPhoto.photo2.Photo}}"  style="width: 210px; height: 210px; object-fit: cover; padding: 10px;  background-color: rgba(0, 0, 0, 0.381);"(click)="Vote(randomPhoto.photo2.ImageID)">
                    <h2> {{randomPhoto.photo2.Name_photo}}</h2>
                  </div>
            </div>
        </div>
    </div>
  </ng-template>
</div>

    
        <!-- Modal -->
        <div *ngIf="isModelOpen" class="modal">
          <div class="modal-content">
            <span class="close" (click)="closeModel()">&times;</span>
            <h3>Calculate Score (Elo Algorithm)</h3>
            <hr>
            <h4>สูตร <br>&nbsp; &nbsp; Ea = 1 / 1 + 10 ^ (Rb - Ra)/400 <br>&nbsp; &nbsp;Eb = 1 / 1 + 10 ^ (Ra - Rb)/400 </h4>
            <p>จากสูตร เมื่อแทนค่า Rating ของทั้ง a และ  b จะได้ดังนี้ <br> </p>
            <p>Ea({{randomPhoto.photo1.Name_photo}}) = 1 / 1 + 10 ^ ( {{apiData.OleScore2}} - {{apiData.OleScore1}} ) / 400 = {{apiData.Ea}}</p>
            <p>Eb({{randomPhoto.photo2.Name_photo}}) = 1 / 1 + 10 ^ ( {{apiData.OleScore1}} - {{apiData.OleScore2}} ) / 400 = {{apiData.Eb}}</p>

            <h4>New Score </h4>
            <h4>สูตร <br>&nbsp; &nbsp; Ra = Ra + k ( Sa - Ea ) <br>&nbsp; &nbsp; Rb = Rb + k ( Sb - Eb )</h4>
            <p>Ra({{randomPhoto.photo1.Name_photo}}) = {{apiData.OleScore1}} + 32 ( {{apiData.Score1}} - {{apiData.Ea}}) = {{apiData.Rpa}} &nbsp; &nbsp;(New score ) </p>
            <p>Rb({{randomPhoto.photo2.Name_photo}}) = {{apiData.OleScore2}} + 32 ( {{apiData.Score2}} - {{apiData.Eb}}) = {{apiData.Rpb}}  &nbsp; &nbsp;(New score ) </p>
          </div> 
        </div>


    <!-- rank  -->
    <div style="margin-left: 15%; margin-right: 15%; color: white; margin-top: 2%;">
        <div style="display: flex; flex-direction: row;">
            <h1 style="font-size: 50px;">I</h1>&nbsp;&nbsp;
            <h1 style="margin-top: 4%;"> Top 10 Today</h1>
        </div>
        <div style="display: flex; flex-direction: row;margin-top: -3%;">
            <h3>Minecraft characters</h3>
            <h3 style="margin-left: auto; margin-right: 40px;">score</h3>
        </div>        
        <div *ngIf="RankP">
          <div *ngFor="let r of RankP; let i = index">
              <mat-card style="margin-bottom: 5px;">
                  <mat-card-content>
                    
                      <div style="display: flex; flex-direction: row; width: 100%; color: black;">
                        <div style="width: 10%;">
                          <h4 style="margin-top: 2px; margin-right: 5px;">{{ i + 1 }}</h4>
                          <div *ngIf="Rdif[i].diff > 0" style="display: inline-block;">
                              <p style="margin-top: -10px; color: green; display: inline;"> + {{ Rdif[i].diff }} &uarr;</p>
                          </div>
                          <div *ngIf="Rdif[i].diff < 0" style="display: inline-block;">
                              <p style="margin-top: -10px; color: red; display: inline;">{{ Rdif[i].diff }} &darr;</p>
                          </div>
                          <div *ngIf="Rdif[i].diff == 0" style="display: inline-block;">
                              <p style="margin-top: -10px; color: black; display: inline; font-weight: bolder ;">  = </p>
                          </div>
                          
                      </div>
                      
                          <div style="width: 10%;">
                              <img class="filter" src="{{ r.image.Photo }}" style="width: 80px;height: 80px; border-radius: 50%; object-fit: cover;">
                          </div>
                          <div style="width: 70%;">
                              <h3 style="margin-top: 2px;">{{ r.image.Name_photo }}</h3>
                              <p style="margin-top: -10px;" (click)="WhoProfile(r.User_Id)">BY: {{ r.image.UserName }}</p>
                          </div>
                          <div style="width: 5%;">
                              <h3>{{ r.V_Score }}</h3>
                          </div>
                      </div>
                  </mat-card-content>
              </mat-card>
          </div>
      </div>
      
      </div>
    </div>



   
</body>
</html>
